# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.production

# Build
dist/
build/

# Logs
*.log

# Testing
coverage/
.nyc_output/

# Misc
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
