# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# Misc
.DS_Store
*.pem
*.key
*.crt
*.csr

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docs
*.md
!README.md
