# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
